.row
  .three.columns
    = image_tag "tweetboxlogo.png"
  .five.columns.end
    %h1 the tweetbox
    %h4 tweet outside the box

.row
  .four.columns
    .row
      .hashtag
        .label
          = "#SF"
        .photos
          = image_tag "http://a0.twimg.com/profile_images/1372503816/image_normal.jpg"
          = image_tag "http://a0.twimg.com/profile_images/1206777536/20567_243449561736_500561736_3147444_7231668_n_normal.jpg"
          = image_tag "http://a0.twimg.com/profile_images/1606354121/natashatherobot-eightbit_normal"
          = image_tag "http://a0.twimg.com/profile_images/1606354121/natashatherobot-eightbit_normal"
  .four.columns
    .hashtag
      .label
        = "#DBC"
      .photos
        = image_tag "http://a0.twimg.com/sticky/default_profile_images/default_profile_1_normal.png"
        = image_tag "http://a0.twimg.com/profile_images/1606354121/natashatherobot-eightbit_normal"
  .four.columns
    .hashtag
      .label
        = "#FOOD"
      .photos
        = image_tag "http://a0.twimg.com/profile_images/1372503816/image_normal.jpg"
        = image_tag "http://a0.twimg.com/profile_images/1206777536/20567_243449561736_500561736_3147444_7231668_n_normal.jpg"
.row
  .four.columns
    .hashtag
      .label
        = "#STYLE"
      .photos
        = image_tag "http://a0.twimg.com/sticky/default_profile_images/default_profile_1_normal.png"
        = image_tag "http://a0.twimg.com/profile_images/1606354121/natashatherobot-eightbit_normal"
  .four.columns
    .hashtag
      .label
        = "#FUN"
      .photos
        = image_tag "http://a0.twimg.com/sticky/default_profile_images/default_profile_1_normal.png"
        = image_tag "http://a0.twimg.com/profile_images/1606354121/natashatherobot-eightbit_normal"
  .four.columns
    .hashtag
      .label
        \#WATERblahavbaposdinasoisn
      .photos
        = image_tag "http://a0.twimg.com/profile_images/1372503816/image_normal.jpg"
        = image_tag "http://a0.twimg.com/profile_images/1206777536/20567_243449561736_500561736_3147444_7231668_n_normal.jpg"